# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Mac Specific #
.DS_Store

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
/PayliboGenerator/nbproject/private/
/SmartPaymentGenerator1/nbproject/private/
/SmartPaymentGenerator/nbproject/private/